#nav{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: red;
    padding: 0 100px;
}


#nav > :nth-child(1){
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

#cart{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#cart > button{
    border: none;
    background: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

#cart > span{
    width: 15px;
    height: 15px;
    background: green;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

#cards_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #d3d3;
}

#cards{
    width: 250px;
    height: 300px;
    background: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px 10px 0;
}