*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    padding: 5%;
}



#search_card{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search_card > p{
    font-size: 28px;
    font-weight: 600;
}

#search_card > input{
    width: 180px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
    font-size: 18px;
    outline: none;
    color: #000;
    opacity: 0.5;
    letter-spacing: 1px;
}


#cards_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background: #ddd;
    margin-top: 50px;
}

#cards{
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: red;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}

#cards > :nth-child(1){
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cards > :nth-child(1) > img{
    width: 100%;
    height: 100%;
}


#cards > :nth-child(3){
    padding-bottom: 20px;
}