.numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: monospace;
  font-size: 20px;
}

.numbers > :nth-child(2) > button{
    background: red;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
}