*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

#root{
    max-width: 1440px;
    width: 100%;
    height: auto;
    background: #ddd;
}
