* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

#forgotpassword  {
  margin-top: 50px;
}
